.wrapper{
    width: 100%;
    height: calc(100vh );
    background-color: gainsboro;
    /* padding-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head{
    font-size: 150px;
    color: #ff7c00;
     font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
.h2{
    font-size: 30px ;
    color: grey;
}